############################
# IntelliJ / IDE
############################
.idea/
*.iml

# IntelliJ default ignored files
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml


############################
# Node.js
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


############################
# Environment variables
############################
.env
.env.*
!.env.example


############################
# Logs
############################
logs/
*.log


############################
# OS
############################
.DS_Store
Thumbs.db


############################
# Build / Temp (미래 대비)
############################
dist/
build/
.cache/
.tmp/
